# Application
APP_NAME=Araz Forms
APP_ENV=development
APP_DEBUG=true
APP_VERSION=0.1.0

# Public URL
APP_BASE_URL=http://localhost:8000

# Security
# برای محیط عملیاتی حتماً یک مقدار تصادفی و طولانی قرار بده.
SECRET_KEY=replace-this-with-a-long-random-secret

# Cookie
APP_SECURE_COOKIES=false

# Hosts separated by commas
APP_ALLOWED_HOSTS=localhost,127.0.0.1,web,forms.araz.me

# Database
DATABASE_URL=sqlite:////data/forms.db